* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
  position: relative;
}

*::selection {
  background-color: #333;
  color: whitesmoke;
}

:root {
  --peach: #f2e5d7;
  --hover: rgb(83, 80, 80);
  --star-unicode: \2B50;
}
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin-left: 2px;
  overflow: auto;
  overflow-x: hidden;
  height: auto;
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background-color: antiquewhite;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(233, 203, 163);
}
/*----------------------Div 1--------------------------------*/

.info {
  width: auto;
  height: auto;
  font-size: 20px;
  box-sizing: border-box;
  border: 0;
  border-radius: 5px;
  background-color: var(--peach);
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.info p {
  margin-left: 10px;
}

.info ul {
  list-style-type: none;
}

.info ul li {
  display: inline-block;
  padding-right: 10px;
}

.info ul li a {
  text-decoration: none;
  color: black;
}

.info ul li a:hover {
  color: var(--hover);
}
.info ul li a:active {
  background: none;
}

/*----------------------Div 2--------------------------------*/

.logo {
  box-sizing: border-box;
  border: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 2px;
}

.logo img {
  width: 150px;
  padding: 10px 0;
}
.logo img::selection {
  background-color: transparent;
}
input[type="search"] {
  position: relative;
  text-indent: 19px;
  width: 450px;
  text-transform: capitalize;
  height: 2.5pc;
  font-weight: 500;
  font-size: 18px;
  outline: none;
  margin-top: 35px;
  padding: 0 15px;
  border-radius: 20px;
  border: 0;
  background-color: var(--peach);
}

input[type="search"]::placeholder {
  background-image: url(/KekiT/Search.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  font-weight: 500;
  background-size: 18px;
  padding-left: 5px;
  color: #333;
  background-color: var(--peach);
}

.user img {
  margin-top: 25px;
  width: 30px;
  cursor: pointer;
}

.hr1 {
  margin: 0 10px 5px;
}
/*----------------------Div 3--------------------------------*/

.nav ul {
  margin: 0;
  margin-bottom: 5px;
  border-radius: 8px;
  text-align: center;
  list-style-type: none;
  background-color: antiquewhite;
}
.nav ul li {
  display: inline-flex;
  margin: 0 50px;
  font-size: 25px;
  box-sizing: border-box;
}
.nav ul li a {
  padding: 15px 8px;
  text-decoration: none;
  color: black;
}
.nav ul li a:hover {
  text-decoration: underline;
  color: #333;
}
.sub-menu-1 {
  display: none;
}
.nav ul li:hover .sub-menu-1 {
  position: absolute;
  z-index: 1;
  display: block;
  background-color: antiquewhite;
  width: 14pc;
  margin-top: 45px;
  margin-left: -20px;
  padding: 0;
}
.nav ul li:hover .sub-menu-1 ul li {
  width: 200px;
  margin-left: 5px;
  border-bottom: 1px dotted;
  margin: 0;
  box-sizing: border-box;
}
.nav ul li:hover .sub-menu-1 ul li:nth-child(4) {
  border-bottom: none;
}

.hover-me .fa {
  float: right;
  margin-left: 45px;
}
.sub-menu-2 {
  display: none;
}
.hover-me:hover .sub-menu-2 {
  position: absolute;
  display: block;
  width: 14pc;
  background-color: antiquewhite;
  margin-left: 180px;
}
/*----------------------Div 4--------------------------------*/

.delivery {
  margin: 0 8px;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}
.delivery p {
  margin: 0 35px;
  font-size: 20px;
}
hr {
  margin: 0 10px 3px;
}
/*----------------------Div 5--------------------------------*/
.container {
  width: auto;
  height: 565px;
  margin: 0 5px;
  background: url(/KekiT/bday.png) no-repeat;
  border-radius: 5px;
  background-size: 100%, 0;
  display: flex;
}
.column-1 {
  display: block;
  block-size: 25%;
  margin: 20pc 0 0 5pc;
}
.column-1 h1 {
  font-size: 70px;
  font-weight: 500;
  color: whitesmoke;
}
.column-1 h2 {
  font-size: 30px;
  margin-top: 10px;
  color: whitesmoke;
}
.btn {
  min-width: 130px;
  height: 40px;
  color: #333;
  padding: 8px 12px;
  margin-top: 25px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: antiquewhite;
}
.btn:hover {
  border-radius: 5px;
  padding-right: 54px;
  padding-left: 8px;
}
.btn:hover:after {
  opacity: 1;
  right: 10px;
}
.btn:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.6s;
}
/*----------------------Div 6--------------------------------*/
.more {
  box-sizing: border-box;
  width: auto;
  height: auto;
  display: block;
  margin-top: 30px;
  text-align: center;
  line-height: 55px;
  color: #333;
  padding: 20px;
}
.more h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 45px;
  letter-spacing: 0.1em;
}
.more p {
  font-size: 30px;
}

/*----------------------Div 7--------------------------------*/

.pics {
  box-sizing: border-box;
  margin: 10px 3px 0;
  display: flex;
  margin: 10px;
}
.pics-2 {
  box-sizing: border-box;

  margin: 10px 3px 0;
  display: flex;
}

.pic-1,
.pic-2,
.pic-3,
.pic-4 {
  background-size: cover;
  width: 10px;
  height: 500px;
  margin: 10px;
  flex: 50%;
}
.pic-1 {
  background: url(/KekiT/Sky\ cakes.jpg) no-repeat;
}
.pic-2 {
  background: url(/KekiT/Fill-You-Own-Personalised-Cupcakes.jpg) no-repeat;
}
.pic-3 {
  background: url(/KekiT/Personalised-Cupcakes.jpg) no-repeat;
}
.pic-4 {
  background: url(/KekiT/google.jpg) no-repeat;
}
.pic-1 h3,
.pic-2 h3,
.pic-3 h3,
.pic-4 h3 {
  margin: 350px 0 0 20px;
  font-size: 30px;
  color: #333;
  font-weight: 600;
}

.bttn {
  position: relative;
  margin-left: 20px;
  margin-top: 40px;
  bottom: 0;
  width: 180px;
  height: 40px;
  color: #333;
  padding: 8px 12px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: antiquewhite;
}
.bttn:hover {
  border-radius: 5px;
  padding-right: 44px;
  padding-left: 8px;
  width: 220px;
  background-color: #333;
  color: antiquewhite;
}
.bttn:hover:after {
  opacity: 1;
  right: 10px;
}
.bttn:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.6s;
}
/*----------------------Div 8--------------------------------*/
.d-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.block {
  background-size: cover;
  height: 450px;
  width: 380px;
}
.block-1:hover,
.block-2:hover,
.block-3:hover,
.block-4:hover {
  transition: ease-in-out 1s;
  transform: scale(1.1);
}
.block-1 {
  background: url(/KekiT/Logo-Cupcakes.jpg) no-repeat;
  background-size: cover;
  height: 450px;
  width: 380px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.block-2 {
  background: url(/KekiT/Message-Cupcakes.jpg) no-repeat;
  background-size: cover;
  height: 450px;
  width: 380px;
  margin-left: 30px;
  border-radius: 5px;
  top: -9px;
}
.block-3 {
  background: url(/KekiT/Photo-Cupcakes.jpg) no-repeat;
  background-size: cover;
  height: 450px;
  margin-left: 30px;
  width: 380px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.block-4 {
  background: url(/KekiT/Fill-Your-Own-Cupcakes.jpg) no-repeat;
  background-size: cover;
  height: 450px;
  margin-left: 30px;
  width: 380px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.frame {
  box-sizing: border-box;
}
.frame h4,
p {
  margin-left: 30px;
}
.frame h4 {
  font-size: 25px;
  font-weight: 600;
  line-height: 45px;
}
.frame p {
  font-size: 18px;
  font-weight: 600;
  color: red;
}
.frame h4:nth-child(1) {
  margin: 0;
}
.frame p:nth-child(1) {
  margin: 0;
}
.frame h4:nth-child(4) {
  margin: 0;
}
.frame h4:nth-child(4) {
  margin: 0;
}
.frame .star {
  margin-top: 10px;
  font-size: 20px;
  border: 0;
  outline: none;
  color: gold;
  letter-spacing: 2px;
}
.frame .rating {
  color: rgb(44, 44, 220);
  letter-spacing: 0;
  font-size: 17px;
}
/*----------------------Div 9--------------------------------*/
.picha {
  width: 90px;
  display: inline-flex;
  text-align: center;
  margin-top: 40px;
  padding: 0;

  left: 47%;
  position: absolute;
  z-index: 1;
}

.section {
  width: auto;
  height: auto;
  box-sizing: border-box;
  border: 0;
  background-color: rgb(212, 229, 225);
  margin-top: 110px;
  display: flex;
}
.section .img1 img {
  width: 90%;
  height: 43rem;
  margin: 85px 0 0 29px;
}
.section .about {
  width: 70%;
  margin-top: 50px;
}
.section h2 {
  font-size: 50px;
  left: 1%;
  padding-top: 21px;
}
.section .about p {
  margin-top: 10px;
  left: -20px;
  font-size: 22px;
  text-align: justify;
  margin-bottom: 25px;
  line-height: 30px;
}
.about button {
  margin-bottom: 20px;
  margin-top: 10px;
  left: 20%;
  height: 50px;
  width: 250px;
  background-color: antiquewhite;
  color: #333;
  border: 3px solid rgb(232, 212, 186);
  outline: 0;
  font-size: 23px;
  cursor: pointer;
}
.about button:hover {
  background-color: #333;
  color: antiquewhite;
  border: 3px solid rgb(59, 56, 56);
}

/*----------------------Div 10 (CONTACTS)--------------------------------*/

.footer1 {
  display: flex;
  justify-content: space-between;
  margin: 120px 0 0 25px;
}

.footer1 h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.footer1 a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  line-height: 35px;
  left: -25px;
}
.footer1 a:hover {
  color: black;
}
.socials {
  top: -33px;
  right: 20px;
}
.socials img:not(.social img) {
  right: -60px;
}
.socials a {
  font-size: 20px;
  text-align: right;
}
.socials .social img {
  margin-top: 15px;
  width: 40px;
  gap: 300px;
  margin-left: 10px;
}
.socials .social img:hover {
  transition: ease-in-out 0.7s;
  transform: scale(1.3);
  gap: 5px;
}

/*----------------------Div 11 (FOOTER)--------------------------------*/

footer {
  display: flex;
  justify-content: space-between;
}
footer ul {
  list-style: none;
}
footer ul li {
  display: inline-flex;
  line-height: 20px;
}
footer ul li a {
  color: #333;
  text-decoration: none;
  font-size: 20px;
  margin: 20px 0;
  left: 5px;
  margin-left: 15px;
}

footer ul li a:hover {
  color: black;
  text-decoration: underline;
}
.extra1 .divider {
  padding-left: 40px;
}
footer .extra2 {
  margin: 20px 0;
  right: 20px;
  font-size: 20px;
  color: #333;
}
/*----------------------Div 12--------------------------------*/
