* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
  position: relative;
}

*::selection {
  background-color: #333;
  color: whitesmoke;
}

:root {
  --peach: #f2e5d7;
  --hover: rgb(83, 80, 80);
  --star-unicode: \2B50;
}
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin-left: 2px;
  overflow: auto;
  overflow-x: hidden;
  height: auto;
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background-color: antiquewhite;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(233, 203, 163);
}
/*----------------------Div 1--------------------------------*/

.info {
  width: auto;
  height: auto;
  font-size: 20px;
  box-sizing: border-box;
  border: 0;
  border-radius: 5px;
  background-color: var(--peach);
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.info p {
  margin-left: 10px;
}

.info ul {
  list-style-type: none;
}

.info ul li {
  display: inline-block;
  padding-right: 10px;
}

.info ul li a {
  text-decoration: none;
  color: black;
}

.info ul li a:hover {
  color: var(--hover);
}
.info ul li a:active {
  background: none;
}

/*----------------------Div 2--------------------------------*/

.logo {
  box-sizing: border-box;
  border: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 2px;
}

.logo img {
  width: 150px;
  padding: 10px 0;
}
.logo img::selection {
  background-color: transparent;
}
input[type="search"] {
  position: relative;
  text-indent: 19px;
  width: 450px;
  text-transform: capitalize;
  height: 2.5pc;
  font-weight: 500;
  font-size: 18px;
  outline: none;
  margin-top: 35px;
  padding: 0 15px;
  border-radius: 20px;
  border: 0;
  background-color: var(--peach);
}

input[type="search"]::placeholder {
  background-image: url(/Icons/Search.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  font-weight: 500;
  background-size: 18px;
  padding-left: 5px;
  color: #333;
  background-color: var(--peach);
}

.user img {
  margin-top: 25px;
  width: 30px;
  cursor: pointer;
}

.hr1 {
  margin: 0 10px 5px;
}
/*----------------------Div 3--------------------------------*/

.nav ul {
  margin: 0;
  margin-bottom: 5px;
  border-radius: 8px;
  text-align: center;
  list-style-type: none;
  background-color: antiquewhite;
}
.nav ul li {
  display: inline-flex;
  margin: 0 50px;
  font-size: 25px;
  box-sizing: border-box;
}
.nav ul li a {
  padding: 15px 8px;
  text-decoration: none;
  color: black;
}
.nav ul li a:hover {
  text-decoration: underline;
  color: #333;
}
.sub-menu-1 {
  display: none;
}
.nav ul li:hover .sub-menu-1 {
  position: absolute;
  z-index: 1;
  display: block;
  background-color: antiquewhite;
  width: 14pc;
  margin-top: 45px;
  margin-left: -20px;
  padding: 0;
}
.nav ul li:hover .sub-menu-1 ul li {
  width: 200px;
  margin-left: 5px;
  border-bottom: 1px dotted;
  margin: 0;
  box-sizing: border-box;
}
.nav ul li:hover .sub-menu-1 ul li:nth-child(4) {
  border-bottom: none;
}

.hover-me .fa {
  float: right;
  margin-left: 45px;
}
.sub-menu-2 {
  display: none;
}
.hover-me:hover .sub-menu-2 {
  position: absolute;
  display: block;
  width: 14pc;
  background-color: antiquewhite;
  margin-left: 180px;
}
/*----------------------Div 4--------------------------------*/

.delivery {
  margin: 0 8px;
  padding: 5px 0;

  display: flex;
  justify-content: space-between;
}
.delivery p {
  margin: 0 35px;
  font-size: 20px;
}
hr {
  margin: 0 10px 3px;
}
/*----------------------Div 5--------------------------------*/
